body{
    background-color: #faf8ef;
}

.container{
    width: 436px;
    margin:0px auto;
    overflow: hidden;
    box-sizing:border-box;
}

.heading_container{
    width: 100%;
    margin-bottom: 5px;
}

.buttons_container{
    width: 100%;
    margin-top: 5px;
}

.heading_title{
    width: 100%;
    margin:0 auto;
    text-align: center;
}

.heading_info{
    width: 100%;
    margin:0 auto;
    text-align: center;
}

.main-grid{
    width: 100%;
    background-color: #bbada0;
    border-radius: 2px;
    padding: 3px;
    box-sizing:border-box;
    clear:both;
}

.big-grid{
}

.small-grid{
    width:43px;
    height:43px;
    border:1px gray;
    border-radius:3px;
    text-align: center;
    font-size: 17px;
    overflow: hidden;
}

.button {
    background-color:#bbada0;
    border-radius:3px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#ffffff;
    font-family:Comic Sans MS;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:50px;
    line-height:50px;
    width:100px;
    text-align:center;
}

.button:hover {
    background-color:#776d50;
}

.button:active {
     position:relative;
     top:1px;
}

.start_button{
    float:left;
    width:215.5px;
    clear:left;
}

.clear_button{
    float:right;
    width:215.5px;
    clear:right;
}

